<div id="filelist"></div>
<br />

<%= form_tag songs_path :multipart => true, :remote => true do %>
  <div class="field" id="title">
    <%= label_tag :title %>
    <%= text_field_tag :title %>
  </div>
  <div class="field" id="pickfiles" href="#">
    <%= label_tag :file %>
    <%= file_field_tag :file %>
    <!-- %= f.hidden_field :file_cache % -->
  </div>
  <div class="actions" id="uploadfiles" href="#">
    <%= submit_tag %>
    or
    <%= link_to 'Cancel', @song %>
  </div>
<% end %>

<%= render 'snippets' %>

<script type="text/javascript">
$(function(){
  var song_title = $("input[name=song_title]").val();
  var uploader = new plupload.Uploader({
    runtimes : "html5",
    browse_button : 'pickfiles',
    max_file_size : '10mb',
    url : "/songs",
    multipart: true,
    multipart_params: {
/* commented for heroku only    "title" : song_title*/
     /*"title" : $('#title').val() */
     /*<input id="song_title" name="song[title]" size="30" type="text" />*/
     /*"song[title]" : '<%= text_field :title, :id => "song_title", :size => "30", :type => "text" %>',*/
     /*"title" : '<input id="song_title" name="song[title]" size="30" type="text" />'*/
     /*"params[:title]" : '<%= text_field :title, :id => "song_title" %>'*/
     "params[:title]" : song_title
     "authenticity_token" : '<%= form_authenticity_token %>'
    }
  });
  
  /*uploader.bind('BeforeUpload', function(up, files) {
    $.extend(up.settings.multipart_params, { title : $('#song_title').val() }); 
  });*/

  uploader.bind('FilesAdded', function(up, files) {
    $.each(files, function(i, file) {
      $('#filelist').append(
        '<div id="' + file.id + '">' +
        'File: ' + file.name + ' (' + plupload.formatSize(file.size) + ') <b></b>' +
        '</div>'
        );
    });
  });

  uploader.bind('UploadProgress', function(up, file) {
    $('#' + file.id + " b").html(file.percent + "%");
  });

  $('#uploadfiles').click(function(e) {
    uploader.start();
    e.preventDefault();
  });

  uploader.init();
});
</script>
