
<div id="filelist"></div>
<br />
<div>
  <%= form_tag songs_path, :id => 'new_song', :multipart => true, :remote => true do %>
    <p><%= label_tag :title %></p>
    <p><%= text_field_tag :title %></p>
    <p><a id="pickfiles" href="#"><%= file_field_tag "Filedata" %></a></p>
    <p><a id="uploadfiles" href="#"><%= submit_tag "upload", :id => "new_song_submit" %></a></p>
  <% end %>
</div>

<script type="text/javascript">
$(function(){
  var uploader = new plupload.Uploader({
    runtimes : "html5",
    browse_button : 'pickfiles',
    max_file_size : '10mb',
    url : "/songs",
    multipart: true,
    multipart_params: {
     "authenticity_token" : '<%= form_authenticity_token %>'
    }
  });

  uploader.bind('FilesAdded', function(up, files) {
    $.each(files, function(i, file) {
      $('#filelist').append(
        '<div id="' + file.id + '">' +
        'File: ' + file.name + ' (' + plupload.formatSize(file.size) + ') <b></b>' +
        '</div>'
        );
      });
    });

  uploader.bind('UploadProgress', function(up, file) {
    $('#' + file.id + " b").html(file.percent + "%");
  });

  $('#uploadfiles').click(function(e) {
    uploader.start();
    e.preventDefault();
  });

  uploader.init();
});
</script>
